* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body{ font-family: Arial, Helvetica, sans-serif; line-height: 1.6em; color: #222; }

.container {
  max-width: 640px;
  margin: 110px auto;
}

.container__article {
  margin: 110px;
}

.row {
  margin: 0 0 20px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

.col-3-4 {
  width: 75%;
}

.col-1-4 {
  width: 25%;
}

.pad-left-20 { padding-left: 20px; }
.pad-right-20 { padding-right: 20px; }
.mrg-right-20 { margin-right: 20px; }

input[type='text'], textarea {
  border: 1px solid #d9d9d9;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

input[type=text], textarea {
  font: 13px/1.6 monospace;
}

button{
  border: 1px solid #2e6da4;
  padding: 10px;
  border-radius: 3px;
  background-color: #337ab7;
  color: #fff;
}

h1{font-weight: 500; margin:0; padding-bottom:2em;}

a, a:visited{ color: #256bc9; text-decoration: none; }
p{ margin-bottom: 1em; text-align: justify; }
.par-center{
  text-align: center;
}

.newpost__body{
  min-height: 450px;
}

/* homepage */

.home__title {
  font-size: 18px;
  font-weight: 400;
}

.ekskavasi__list,
.tulisan__list{
  margin: 1em auto;
}


.ekskavasi__list-item,
.tulisan__list-item{
  list-style-type: none;
  padding-left: 1em;
}

.tulisan__list span.datetime{
  text-align: right;
  margin-right: 20px;
}

.ekskavasi__title,
.tulisan__title {
  font-weight: 500;
  margin-top: 2em;
}

/* archive page */

.tulisan__list-item--year {
  padding-left: 0;
  margin-top: 1em;
}

